/* ProductSearch.css */

.product-search-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  
  input[type="text"] {
    width: 100%;
    min-width: 300px; /* Adjust the maximum width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    max-width: 300px; /* Adjust the maximum width as needed */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .message {
    font-size: 18px;
    color: #f00;
    text-align: center;
    margin-top: 20px;
  }
  
  .product-table {
    width: fit-content;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left:auto; 
    margin-right:auto; 
  }
  
  .product-table th,
  .product-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .product-table tr:hover {
    background-color: #f5f5f5;
  }
  
  @media (min-width: 768px) {
    .search-bar {
      flex-direction: row;
    }
  
    input[type="text"],
    button {
      width: auto;
      max-width: none;
    }
  }
   